@charset "UTF-8";
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

header  {
  background-color: #2b3d67;
  height: 1000px;
  width: auto;
  -moz-box-shadow:    3px 3px 5px 8px #ccc;
  -webkit-box-shadow: 3px 3px 5px 8px #ccc;
  box-shadow:         3px 3px 5px 8px #ccc;
}

.logo {
  width: 150px;
  height: auto;
  animation: fadein 4s;
  margin-left: 50px;
  margin-top: 50px;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

h1 {
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-size: 9em;
  position: absolute;
  color: white;
  left: 170px;
  top: 350px;
}

main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #747FDF;
  font-weight: 300;
  font-size: 3em;
  text-transform: capitalize;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

button {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 900;
  text-decoration: none;
  padding: 25px 50px 25px 50px;
  border-radius: 2%;
  color: white;
  background-color: #2b3d67;
  width: 100%;
}










/**/
