@charset "UTF-8";
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

header  {
  background-color: #2b3d67;
  height: 200px;
  width: auto;
}

.logo {
  width: 200px;
  height: auto;
  animation: fadein 4s;
  margin-left: 100px;
  margin-top: 120px;
}

p {
  color: white;
  position: absolute;
  right: 50px;
  top: 50;
  font-size: 4em;
  text-transform: uppercase;
}


main {

}












/**/
