@charset "UTF-8";
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

header  {
  background-color: #2b3d67;
  height: 200px;
  width: auto;
}

.blauw {
  background-color: #2b3d67;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 280px;
}

.logo {
  width: 200px;
  height: auto;
  animation: fadein 4s;
  position: absolute;
  left: 100px;
  top: 140px;
  z-index: 1;
}

p {
  color: #2b3d67;
  position: absolute;
  right: 250px;
  top: 170px;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 3.5em;
  color: white;
  text-transform: uppercase;
  margin-left: 500px;
  margin-top: 20px;
}

main {
  background-color: #2b3d67;
  margin-top: 220px;
}

/* Begin eerste button */

.wit {
  background-color: white;
  margin: 40px;
}

h2  {
  margin-left: 100px;
  font-size: 3.5em;
  margin-bottom: 50px;
  padding-top: 100px;
}

/* The container */
.container {
  display: inline;
  position: relative;
  padding-left: 400px;
  margin-bottom: 100px;
  cursor: pointer;
  font-size: 3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 100px;
  height: 100px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  border-radius: 1%;
  color: #313443;
}

span {
  text-align: center;
  padding-top: 50px;
}

.checkmark input {
  margin-left: 100px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #747FDF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}



/* Einde eerste button */








/**/
