@charset "UTF-8";
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

header  {
  background-color: #2b3d67;
  height: 200px;
  width: auto;
}

.blauw {
  background-color: #2b3d67;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 280px;
}

.logo {
  width: 200px;
  height: auto;
  animation: fadein 4s;
  position: absolute;
  left: 100px;
  top: 140px;
  z-index: 1;
}

p {
  color: #2b3d67;
  position: absolute;
  left: 350px;
  top: 170px;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 3.5em;
  color: white;
  text-transform: uppercase;
  margin-left: 500px;
  margin-top: 20px;
}

main {
  background-color: white;
}

.achter {
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 100px;
  background-color: white;
}

label {
}

.white {
 height: 100%;
 width: 100%;
 background-color: #2b3d67;
}

form {
  font-size: 2.5em;
}

form input {
  width: 600px;
  height: 70px;
}

#name, #achternaam, #mail, #telefoon {
  margin-top: 40px;
  margin-bottom: 100px;
}

button {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 900;
  text-decoration: none;
  padding: 25px 100px 25px 100px;
  border-radius: 2%;
  color: white;
  background-color: #2b3d67;
  margin-top: 20px;
  margin-left: 0;
  cursor: pointer;
}



/**/
